.login-temp-cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height:100vh;
    gap: 20px;
}

.login-temp-sub-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.center-image{
    padding: 20px;
    border-radius: 1000px;
}

.background-rand-login-img-tmp{
    position: absolute;
}