.login-temp-cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height:100vh;
    padding: 20px;
    border: 10px solid black
}

.login-temp-image-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: firebrick;
    border: 5px solid black;
    flex: 1;
    height: 100%;
}